
// Typography
$fontRegular: "Interstate-400";
$fontBold: "Interstate-700";
$fontLight: "Interstate-300";
$fontCondensedBold: "SwissBoldCondensed";

// Colours
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$bordergrey: #979797;
$lightgrey: #f5f5f5;
$darkgrey: #b3b3b3;
$aqua: #50E3C2;
$column: #dddddd;
$columnBorder: #4a4a4a;
$blue: rgba(74,144,226,0.75);
$hardBlue: rgba(74, 144, 226, 1);
$red: #D0021B;
$darkBlue: #2c3e50;
